// Admin font: Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

body,
[data-theme] {
  font-family: 'Roboto', system-ui, sans-serif !important;
}
